*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.remove2{
    background-color: #121212;
    color: #F5F5F2;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.remove2:hover{
    background-color: #F5F5F2;
    color: #121212;
    border: 2px solid #121212;
}

.conshop{
    color: #F5F5F2;
    background-color: #121212;
    padding: 8px 17px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.conshop:hover{
    color: #121212;
    background-color: #F5F5F2;
    border: 2px solid #121212;
}