*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sect4{
  background-color: #F5F5F2;
  padding: 40px 0px 40px 0px;
}

.anitaimg{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 360px;
}

.review-card {
  background: #121212;
  color: #F5F5F2;
  padding: 20px 40px;
  border-radius: 12px;
  width: 280px;
  min-height: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.sect4{
    background-color: #F5F5F2;
    padding: 40px 10px 80px 10px;
}

.sect4 h1{
    color: #121212;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.cipe{
  margin-top: 50px;
}

h4{
  margin-bottom: 15px;
}